
JavaTutor/JavaTutor.xcodeproj/project.xcworkspace/xcuserdata/loganstahl.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
.DS_Store
JavaTutor/JavaTutor.xcodeproj/xcuserdata/loganstahl.xcuserdatad/xcschemes/xcschememanagement.plist
JavaTutor/Pods/Pods.xcodeproj/xcuserdata/loganstahl.xcuserdatad/xcschemes/xcschememanagement.plist
JavaTutor/JavaTutor.xcodeproj/xcuserdata/loganstahl.xcuserdatad/xcschemes/xcschememanagement.plist
JavaTutor/JavaTutor.xcodeproj/xcuserdata/loganstahl.xcuserdatad/xcschemes/xcschememanagement.plist
