<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>282221687636-cdhis7ue997cc4uafd8gfuhjtub4726v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282221687636-cdhis7ue997cc4uafd8gfuhjtub4726v</string>
	<key>API_KEY</key>
	<string>AIzaSyCWwbjUvhnv4BmmdK3KfG3KFoWt91VvKD4</string>
	<key>GCM_SENDER_ID</key>
	<string>282221687636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GCC.JavaTutor</string>
	<key>PROJECT_ID</key>
	<string>javatutor-1d6dc</string>
	<key>STORAGE_BUCKET</key>
	<string>javatutor-1d6dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282221687636:ios:cecc56b56e774d8c</string>
	<key>DATABASE_URL</key>
	<string>https://javatutor-1d6dc.firebaseio.com</string>
</dict>
</plist>